<%= render 'layouts/users_header'%>

<div class="container">
    <div class="row">
        
        <div class="col-md-4 col-md-offset-4 measurement-logo">
            <h1>MEASURMENT RESULT</h1>
            <span class="moji">測定結果</span>
        </div>      
    
    </div>

    <div class="row">

        <div class="col-md-4 col-md-offset-4 measurement-logo">
            <h1 class= "measurment-result"><%= @user.nickname %>さんの測定結果は<%= @user.result.round(1) %>(kcal)です</h1>
        </div>

    </div>

 </div>


               