/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 .clearfix::after
 {
  content: "";
  display: block;
  clear: both;
}
 
//全体

.moji
{
  color: #69a538;
}

a
{
 color: #333333;
}


 //TOP画面

.img   //TOPページサイド画像
 {                    
    vertical-align: middle;
    width: 100%;

 }

 
 .image //TOPページサイド画像
 {
     padding-right: 30px;
 }
 
 .col-md-4.feature p //サイトの特徴
 {
    font-size: 18px;
  
 }

 .col-md-4.feature p:nth-child(1) //サイトの特徴一番上の文
 {
   margin-top: 30px; 
 }


 .feature-logo  //特徴ロゴ
 {
   text-align: center;
   font-family: Impact,'Anton', sans-serif;
 }


 .theme    //TOPページサイド画像
 {
  background-color: #333333;
  color: #fcfbf8;
  display: inline-block;
  padding: 10px 10px;
  margin-bottom: 10px;
 }
 
 .feature-row
 {
  margin-top: 30px;
 }

 .kara_box1
 {
  height: 300px;
 }



 
 //ログイン画面
 
 
  
.sign_in_box //ログイン画面の枠
{
  text-align: center;
  background-color: #fcfbf8;
  margin:0 -13%;
  padding: 10% 0 15% 0;
  height: 600px;
  
}
 
.sign_in.btn-primary //ログインボタン
{
  background-color: #333333;
  border-color: #333333;
  color: #FFFFFF;
  border-radius: 5px;
  width: 350px;
  height: 60px;
  margin-top: 60px;
}

#user_email //メール入力フォーム
{
  width: 350px;
  height: 35px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}

#user_password //パスワード入力フォーム
{
  width: 350px;
  height: 35px;
  border-radius: 5px;
}






//サインアップ画面

.row.sign_up_box //サインアップ画面
{
  text-align: center;
    height: 9px;
    background-color: #fcfbf8;
    padding-top: 100px;
    height: 1000px;
}
  

.sign_up-box{
  width: 100%;
  height: 100%;
 
}

.field_with_errors
{
  display: inline;
}



.container.sign_up //サインアップのコンテナ大枠
{
 background-color: #fefefe;
}

#user_nickname //ニックネーム入力フォーム
{
  width: 350px;
  height: 35px;
  border-radius: 5px;
}

#user_postal_code //郵便番号入力フォーム
{
  width: 350px;
  height: 35px;
  border-radius: 5px;
}

#user_address //住所入力フォーム
{
  width: 350px;
  height: 35px;
  border-radius: 5px;
}

#user_tel //電話番号入力フォーム
{
  width: 350px;
  height: 35px;
  border-radius: 5px;
}

#user_password_confirmation //パスワード確認入力フォーム
{
  width: 350px;
  height: 35px;
  border-radius: 5px;
}

.free,.must //必須,任意ボタン
{
  color: #FFF;
	border-radius: 3px;
	font-size: 12px;
	margin-right: 10px;
	padding: 5px 10px;
  letter-spacing: 0.2em;
}

.must
{
  background-color: #FF1A00;
}

.free
{
  background-color: #999;
}

.sign_up_btn //会員登録ボタン
{
    margin-top: 50px;
    width: 350px;
    height: 53px;
    background-color: #333333;
    color: white;
    border-radius: 5px;
}







//  footer部分


footer //フッター大枠
{
	height: 200px;
	text-align: center;
  background-color: #333333;
  margin-top: auto;
}

footer p //フッター文字
{
	color: #fcfbf8;
	line-height: 190px;
  height: 1px;
  font-size: 20px;
  
}

.wrapper  //footer最下部に固定するための記述
{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.kara_box //footer最下部に固定するための記述
{
  height: 900px;
}




//header部分

.user_menu   //ログイン時のCSS
{
font-size: 20px;
color: #333333;
list-style: none;
float: left;
padding-left: 10px;
margin-top: 60px;
}


.fixed_nav.z-index //headerの高さ指定
{
  height: 120px;
}


//マイページ

.mypage_menu  //マイページのメニュー大枠
{
 font-size: 28px;
 list-style: none;
 border-radius: 5px;
}


.menu
{
  padding: 20px 0;
  border-radius: 5px;
  line-height: 35px;
  background-color:#fcfbf8;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
 
}

.mypage-logo //マイページロゴ
{
 text-align: center;
 font-family: Impact,'Anton', sans-serif;
}

.kara_box4
{
  height: 700px;
}

//メニュー一覧画面


.card 
 {
width: 350px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}

.menu-content
 {
  padding: 20px;
}
.menu-title 
{
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333333;
}

.menu-logo //メニュー一覧ロゴ
{
  text-align: center;
  opacity: 1;
  transition: .4s .2s;
  font-family: Impact,'Anton', sans-serif;

}

.menu-all  //全てのメニュー部分
{
  padding-top: 50px;

}
.text-center //ページネーション中央寄せ
{
  margin-top: 100px;
  text-align: center;

  

}

.menu_text  //メニュー名部分
{
 width: 200px;
 text-align: center;
 margin: 0 auto;
 padding-top: 30px;
}

.menu-image //メニュー画像
{
 text-align: center;
}

.kara_box2
{
 height: 900px;
}


//メニュー詳細
.menu_show
{
 padding-top: 50px;
}

.eat  //食べるボタン
{
  margin-left: 87px;
  width: 150px;
}

.noeat  //戻るボタン
{
  width: 142px;
}


//ユーザー情報編集ページ

.infmation-box //コンテナ大枠
{

  height: 850px;
}

.userinformation-logo //ロゴボタン
{
  text-align: center;
  margin-top: 50px;
  font-family: Impact,'Anton', sans-serif;
}

.information-content //ユーザー情報大枠
{
  margin-top: 30px;
  background-color: #fcfbf8;
  height: 600px;
}

.button-box //戻る更新ボタンボックス
{
  margin-top: 80px;
  display: flex; //子要素を並列にする
  justify-content: space-between; //各要素を均等に配置し、最初の要素は先頭美先頭に寄せて、最後の要素は末尾に寄せる。

}

.left{
  width: 150px;
  position: relative;
  right: 5px;
}

.right  //更新ボタン
{
  width: 150px;
  position: relative;
  right: 5px;
}


//退会画面

.container.quit-bigbox//コンテナ大枠
{
  
  text-align: center;
  height: 650px;

}


.row.quit-box //ロウ大枠
{
  
  margin-top: 200px;
}

.unsubscribe-logo //退会ロゴ
{
  text-align: center;
  margin-top: 50px;
  font-family: Impact,'Anton', sans-serif;
}

.button-box //戻る更新ボタンボックス
{
  margin-top: 200px;
  display: flex; //子要素を並列にする
  justify-content: space-between; //各要素を均等に配置し、最初の要素は先頭美先頭に寄せて、最後の要素は末尾に寄せる。
}

.modoru  //戻るボタン
{
  font-size: 20px;
  width: 150px;
  margin-right: 60px
}

.taikai  //退会ボタン
{
  font-size: 20px;
  width: 150px;
  margin-left: 60px
}

.background-box
{
  background-color: #fcfbf8;
  height: 500px;
  margin-top: 50px;
}



//測定画面


.measurement-logo //測定ロゴ
{
 text-align: center;
 font-family: Impact,'Anton', sans-serif;
}

.measurement-btn-left
{
 position: relative;
 left: 290px;
 width: 150px;
}

.measurement-btn-right  //測定ボタン
{
  position: relative;
  right: 290px;
  width: 150px;
}

.measurment-result
{
  background-color: #333333;
  color: #fcfbf8;
  padding: 10px 10px;
  margin-bottom: 10px;
  font-size: 28px;
  margin-top: 30px;
  width: 380px;
}

.kara_box3
{
  height: 500px;
}

//目標入力ページ

.objective-logo
{
  text-align: center;
  font-family: Impact,'Anton', sans-serif;
}

.container.objective-bigbox//コンテナ大枠
{
  
  text-align: center;
  height: 650px;

}

.objective-box2
{
  background-color: #333333;
  color: #fcfbf8;
  display: inline-block;
  padding: 10px 10px;
  margin-bottom: 10px;
  font-size: 45px;
  width: 560px;
  text-align: start;
  margin-top: 30px;
}

.row.objective-box //ロウ大枠
{
  margin-top: 70px;
  padding-top: 150px;
}

.objective-form
{
 width: 555px;
 height: 100px;
 font-size: 20px;
}

.objective-button-box //戻る更新ボタンボックス
{
  margin-top: 80px;
  display: flex; //子要素を並列にする
  justify-content: space-between; //各要素を均等に配置し、最初の要素は先頭美先頭に寄せて、最後の要素は末尾に寄せる。
}

.objective-back //戻るボタン
{
 font-size: 20px;
 width: 150px;
}

.objective-update // 更新ボタン
{
 font-size: 20px;
 width: 150px;
 
}
.objective-background //目標画面背景
{
background-color: #fcfbf8;
height: 530px;
margin-top: 50px;
}

.mealrecord-logo
{
 text-align: center;
 font-family: Impact,'Anton', sans-serif;
}


//測定ページ


#main
{
  text-align: -webkit-center; 
  line-height: 3;
}

#table_maintenance
{
text-align: center;
background-color: #efefef;
border: 1px solid #333333;
color: #333333;
margin-top: 50px;
font-size: 20px;

}


#table //テーブル大枠
{
border-collapse: collapse;
font-size: 100%;
border-spacing: 0;
}

tbody
{
  display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr
{
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

th
{
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
  background-color: #333333;
  border: 1px solid #333333;
  color: #FFFFFF;
}

td
{
    text-align: left;
    width: 90px;
    font-size: 12px;
    background-color: #fafafa;
    border: 1px solid #333333;
    display: table-cell;
    vertical-align: inherit;
}

.maintenance-logo
{
  font-family: serif;
  font-size: x-large;
}

// メニュー詳細画面


#nutrition
{
  font-size: 25px !important; //栄養のフォントサイズ
  font-family: serif; //栄養のフォント字体
} 


.col-md-4
{
  padding-top: 30px;
}

//グラフ部分

#myChart
{
  padding-top: 50px;
}

.graphback
{
 margin-top: 50px;
 width: 150px;
}

.graphsum //グラフ合計値
{
  margin-left: 190px;
  font-family: -webkit-pictograph;
}

.chart-box
{
  height: 1100px;
}

.calories-burned //消費カロリーの合計値
{
  background-color: #333333;
  color: #fcfbf8;
  display: inline-block;
  padding: 10px 10px;
  margin-bottom: 10px;
  font-size: 45px;
  text-align: start;
  margin-top: 30px;
  width: 1100px;
}

//ページネーション 機能部分

.pagination>.active>a {     
  background: #69a538;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #69a538;   /*文字の色を変える*/
}


//メニューー新規登録画面(管理者側)

.newmenu-back //戻るボタン
{
 width: 150px;
 margin-top: 100px;
}


.newmenu-update  //作成ボタン
{
 width: 150px;
 margin: 100px 0px 0px 300px;
}

.menu-show-btn //メニュー詳細(管理者側)
{
 width: 150px;
 margin-left: 150px;
}



//食事記録画面

.mealrecord-back //戻るボタン
{
 width: 200px;
 margin-top: 100px;
}

.mealfinish //食事を終了するボタン
{
  width: 238px;
  margin-left: 90px;
  margin-top: 100px;
}

.mealrecord-text //食事記録テキスト部分
{
 text-align: center;
 margin-top: 10px;
}

.mealrecord-btn-box //食事記録ボタン部分
{
  text-align: center;
}

.nutrient-box1 
{
  background-color: #333333;
  color: #fcfbf8;
  display: inline-block;
  padding: 10px 10px;
  margin-bottom: 10px;
  font-size: 45px;
  width: 555px;
  text-align: start;
  margin-top: 30px;
}

.nutrient-box2
{
  background-color: #333333;
  color: #fcfbf8;
  display: inline-block;
  padding: 10px 10px;
  width: 550px;
  text-align: start;
  margin-top: 30px;
}

.nutrient-box3
{
  background-color: #333333;
  color: #fcfbf8;
  display: inline-block;
  padding: 10px 10px;
  margin-bottom: 10px;
  font-size: 45px;
  width: 524px;
  text-align: start;
  margin-top: 30px;
}

.menurecord-delete
{
  background-color: #FF1A00;
  color: #FFF;
	border-radius: 3px;
	font-size: 12px;
	margin-right: 10px;
	padding: 5px 10px;
}


